#particles-js canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

html, body {
    height: 100%;
}

#main {
    overflow: auto;
}

.footer {
    position: relative;
    bottom: 0;
    margin-top: -150px;
    clear: both;
}

#wrap {
    min-height: 100%;
}